<% if notice %>
<p class="alert alert-success" style="color: green"><%= notice %></p>
<% end %>


<div class="container mt-5">
<%= render @book_list %>
<div class="nav align-items-center justify-content-center gap-2">
  
  <%= link_to "Back to book lists", book_lists_path, class: "btn btn-danger"%>
  
</div>
</div>
