<div class="container mt-5">
<h2> About page </h2>
<hr>
<div class="accordion" id="aboutAccordion">
  <div class="accordion-item border-0">
    <h2 class="accordion-header">
      <button class="accordion-button bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#about1" aria-expanded="true" aria-controls="about1">
          What is this app?
      </button>
    </h2>
    <div id="about1" class="accordion-collapse collapse show" data-bs-parent="#aboutAccordion">
      <div class="accordion-body">
          MyBrary is a wishlist management system where you can create lists of books that pertain to a specific topic or category of books.
          You may use this software to keep inventory of books you are interested in or rank your top books by genre. The possibilities are endless.
      </div>
    </div>
  </div>
  <div class="accordion-item border-0">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#about2" aria-expanded="false" aria-controls="about2">
      Why did I make this?
      </button>
    </h2>
    <div id="about2" class="accordion-collapse collapse" data-bs-parent="#aboutAccordion">
      <div class="accordion-body">
        A few years ago, I wrote an incomplete Java swing desktop app for a school assignment that spanned throughout the course of my software design and architecture.
        Although I learned how to use the swing GUI framework and database interaction with MySQL, it was left with bugs and I was therefore not pleased with its state.
        I also did not enjoy writing in Java while in college due to how heavy, verbose and religiously insistent on OOP it was, making it a dull language to work with.
        However, I left it alone for the past few years until recently when I decided to revisit ruby on rails. I felt that Ruby on Rails convention over configuration 
        philosophy presented a perfect opportunity for me to change from Java to Ruby as a third language. Therefore, I decided to redo my bookstore IMS into a more
        useful, complete app that can also be deployed to production for others to try out. 
      </div>
    </div>
  </div>
  <div class="accordion-item border-0">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#about3" aria-expanded="false" aria-controls="about3">
        What are some future plans for this app?
      </button>
    </h2>
    <div id="about3" class="accordion-collapse collapse" data-bs-parent="#aboutAccordion">
      <div class="accordion-body">
        Although this app was mostly meant to replace an old, unpolished school project with a complete, robust app, I do have a couple more plans in mind for the forseeable future. 
        <ul>
             <li> User profile pictures: Add your own picture for your page. </li>
             <li> Ranking values: Add ranked listing to make listings of top books you enjoy </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>