<% content_for :title, "Editing book" %>


<div class="container mt-5">
<h1>Editing book</h1>
<%= render "form", book: @book %>
</div>
<br>

<div class="d-flex gap-2 justify-content-center">
  <%= link_to "Back to books", @book_list, class: "btn btn-danger"%>
</div>
